{% load static %}   

{% block head %}

<link href="/static/css/login.css" rel="stylesheet">

{% endblock head %}

{% block body %}
<body style="background-color: #333; padding-top: 0px;">

<div class="login-page-container center-div" style="text-align: center;">

<a href="/">
<img src="/static/img/logo.png" height="50" width="50" />
</a>
<h2 class="centered">
Basic Tech Tips
</h2>
<p class="centered">A resource for basic tech tutorials</p>
<!--<hr>-->
<br>

<form class="login-page-form" method="post" action="{% url 'password_reset' %}">
     {% csrf_token %}
    
    
<input id="email" name="email" type="text" class="" placeholder="Email" value=""/>

    {% if form.email.errors %} 

    
    <p>Enter a valid email address.</p>
    {% endif %}

    
<button type="submit" name="submit" class="login-page-button-orange bold" style="margin-top: 15px;">Reset Password</button>

    
    
    
<input type="hidden" name="next" value="{{ next }}" />
</form>








<div class="website-container">
    <p>Back to login page? &nbsp;<a class="register-link link-space" style="margin-bottom: 10px;" href="{% url 'login' %}" >Login</a></p>


</div>

</div>   





</body>
{% endblock %}





	