
{% load static %}   

{% block head %}

<link href="/static/css/login.css" rel="stylesheet">

{% endblock head %}

{% block body %}
<body style="background-color: #333; padding-top: 0px;">


<div class="login-page-container center-div" style="text-align: center;">

<a href="/">
<img src="/static/img/logo.png" height="50" width="50" />
</a>
<h2 class="centered">
Basic Tech Tips
</h2>
<p class="centered">A resource for basic tech tutorials</p>

<hr>

<p>We've emailed you instructions for resetting your password. If they haven't arrived in a few minutes, check your spam folder.</p>

<hr>

<div class="website-container">
<p>Back to login page? &nbsp; &nbsp;<a class="register-link link-space" style="margin-bottom: 10px;" href="{% url 'login' %}" >Login</a></p>
</div>

</div>   






{% endblock %}

    